@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap');


.text-center {
    color: aliceblue;
    font-family: 'Noto Serif Display', serif;
    font-weight: bolder;
    font-size: medium;
}
