@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap');

footer {
    background: none;
}

.container-fluid h3{
    font-family: 'Noto Serif Display', serif;
    font-weight: bolder;
    font-size: medium;
}

.container-fluid h4 { 
    font-family: 'Noto Serif Display', serif;
    font-weight: bolder;
    font-size: medium;
}